@media (max-width: 480px)
{

  .flex { flex-direction: column;}
  nav ul{display: none;}
  nav { background: black; color: white;}
  nav span {display: block;}
  article h2
  {
    font-size: 25px;
  }

}
