
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700&display=swap');




*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}
body
{
    font-family: 'Mukta', sans-serif;
}
.con
{
    max-width: 1200px;
    margin: auto;
}
.flex
{
    display: flex;
    justify-content:space-around;
    align-items:first baseline;
    
    
}
.top
{
    background: red;
    color: white;
}
.social li
{
    padding: 10px;
}

.social li a
{
   display: block; 
   width: 30px;
   height: 28px;
   line-height: 28px;
   background: white;
   text-align: center;
   color: black;
   border-radius: 3px;
   transition: 0.9s;
   
}
.social li a:hover
{
    rotate: 360deg;
}
.flex1
{
    display: flex;
}
.w-100
{
    width: 100%;
}
.logo img
{
    width: 100%;
}
.logo
{
    flex-basis: 30%;
}
.ads
{
    flex-basis: 65%;
}
