
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700&display=swap');




*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Mukta', sans-serif;
}
.con
{
    max-width: 1200;
    margin: auto;
}
.flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top
{
    background: ;
}
