
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700&display=swap');




*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}
body
{
    font-family: 'Mukta', sans-serif;
}
.con
{
    max-width: 1200px;
    margin: auto;
}
.flex
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    
}
.top
{
    background: red;
    color: white;
}
.social li
{
    padding: 8px;
}

.social li a
{
   display: block; 
   width: 30px;
   height: 28px;
   line-height: 28px;
   background: white;
   text-align: center;
   color: black;
   border-radius: 3px;
   transition: 0.9s;
   
}
.social li a:hover
{
    transform: rotate(360deg);
}
.flex1
{
    display: flex;
}
.w-100
{
    width: 100%;
}
.logo img
{
    width: 100%;
}
.logo
{
    flex-basis: 30%;
}
.ads
{
    flex-basis: 65%;
}
header
{
    padding: 20px 0;
}
nav
{
    background: #255995;
    line-height: 50px;
}
nav ul li
{
    display: inline;
}
nav ul li a
{
    color: white;
    padding: 14px;
}
nav span
{
    display: none;
    margin-left: 20px;
}
.ads1
{
    background: #F4F4F6;
    margin: 20px 0;
    padding: 10px;
}
article
{
    background: #F4F4F6;
    text-align: center;
    margin: 20px 0;
}
article h2
{
    font-size: 55px;
    color: #255995;
}
article img
{
    width: 80%;
}
